<div class="row">

    <div class="col-xs-12 col-md-12 col-lg-12">
        <h1>RSS Feed</h1>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12">
        <form 	style=""
                 action="http://feedburner.google.com/fb/a/mailverify"
                 method="post"
                 target="popupwindow"
                 onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=VivereAMadrid', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"
                >
        <p>
            Si quieres recibir avisos de mis nuevos artículos por email, escribe aquí tu email.
        </p>
            <div class="form-group">
                <label for="mail">Escribe tu email</label>
                <input type="text" class="form-control" name="email" placeholder="Scribi la tua email">
                <input type="hidden" value="VivereAMadrid" name="uri">
                <input type="hidden" name="loc" value="en_US">
            </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group btn-group-lg" role="group">
                    <button type="submit" class="btn btn-primary">Inscribete</button>
                </div>
            </div>
        </form>
    </div>

</div>