<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="thumbnail">
            <a href="#/post/{{post.id}}" role="button">
                <img ng-src="{{post.thumbnail}}" alt="{{post.title}}" data-holder-rendered="true" style="max-width: auto; display: block;">
            </a>
            <div class="caption">
                <h3>
                    <a href="#/post/{{post.id}}" role="button" ng-bind-html="post.title | words: 6"></a> <span class="badge">{{post.comment_count}} commenti</span>
                </h3>
                <p ng-bind-html="post.excerpt | characters: 250"></p>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group " role="group">
                        <a href="#/post/{{post.id}}" class="btn btn-primary" role="button">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group btn-group-lg" role="group">
                <a href="#/posts" class="btn btn-primary" role="button">
                    Otros artículos de Vivere a Madrid
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group btn-group-lg" role="group">
                <a href="#/posts-by-category/422" class="btn btn-danger" role="button">
                    <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
                    Bares y restaurantes
                </a>
            </div>
            <div class="btn-group btn-group-lg" role="group">
                <a href="#/posts-by-category/195" class="btn btn-success" role="button">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    Qué ver
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12 panel">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group btn-group-lg" role="group">
                <a href="#/posts-by-category/83" class="btn btn-warning" role="button">
                    <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    De viaje
                </a>
            </div>
            <div class="btn-group btn-group-lg" role="group">
                <a href="#/posts-by-category/194" class="btn btn-info" role="button">
                    <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    Riccete
                </a>
            </div>
        </div>
    </div>

</div>
