<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->
        <ul class="phones">
            <li ng-repeat="post in posts" class="thumbnail phone-listing">
                <a href="#/posts/{{post.id}}" class="thumb"><img ng-src="{{post.thumbnail}}"></a>
                <a href="#/posts/{{post.id}}">{{post.id}} : {{post.title}} ({{post.comments.length}})</a>
            </li>
        </ul>
   </div>
  </div>
</div>
