<div class="row">

    <div class="col-xs-12 col-md-12 col-lg-12">
        <h1 ng-bind-html="post.title"></h1>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12" data-ng-bind-html="posttext"></div>

    <div class="col-xs-12 col-md-12 col-lg-12" ng-show="comments != null && comments.length > 0">
        <h2>Commenti</h2>
        <div class="media ng-scope" ng-repeat="comment in comments">
                <a class="pull-left" href="#">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
                <div class="media-body">
                    <h4 class="media-heading" ng-bind-html="comment.name"></h4>
                    <span ng-bind-html="comment.content" class="ng-binding"></span>
                </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="btn-group btn-group-justified" role="group" aria-label="..." ng-show="previous != null">
            <div class="btn-group" role="group">
                <a href="#/post/{{previous.id}}" class="btn btn-primary" role="button">{{previous.title | characters: 25}}</a>
            </div>
            <div class="btn-group" role="group" ng-show="next != null">
                <a href="#/post/{{next.id}}" class="btn btn-primary" role="button" style="margin-left: 5px;">{{next.title | characters: 25}}</a>
            </div>
        </div>
    </div>

</div>
