

        <div class="row">

            <div class="col-xs-12 col-md-12 col-lg-12 page-header" ng-show="category != null">
                <h1>Categoria: {{category.title}}</h1>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6" ng-repeat="post in posts">
                <div class="thumbnail">
                    <a href="#/post/{{post.id}}" role="button">
                        <img ng-src="{{post.thumbnail}}" alt="{{post.title}}" data-holder-rendered="true" style="max-width: auto; display: block;">
                    </a>
                    <div class="caption">
                        <h3>
                            <a href="#/post/{{post.id}}" role="button" ng-bind-html="post.title | words: 6"></a>
                        </h3>
                        <p ng-bind-html="post.excerpt | characters: 250"></p>
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <a href="#/post/{{post.id}}" class="btn btn-primary" role="button">Read more</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div ng-controller="PostsCtrl">
            <button ng-click='fblogin()'>haz login</button>
            <hr>
            {{greeting}}
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                <nav>
                    <ul class="pagination">
                        <li ng-class="{'active' : page == null || 1 == page}"><a href="#/page/1">1</a></li>
                        <li ng-class="{'active' : 2 == page}"><a href="#/posts/page/2">2</a></li>
                        <li ng-class="{'active' : 3 == page}"><a href="#/posts/page/3">3</a></li>
                        <li ng-class="{'active' : 4 == page}"><a href="#/posts/page/4">4</a></li>
                        <li ng-class="{'active' : 5 == page}"><a href="#/posts/page/5">5</a></li>
                    </ul>
                </nav>

            </div>

        </div>