

    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12 col-md-12 col-lg-12 page-header">
                <h1>{{category.title}}</h1>
            </div>

            <ul class="phones">
                <li ng-repeat="post in posts" class="thumbnail phone-listing">
                    <a href="#/posts/{{post.id}}" class="thumb"><img ng-src="{{post.thumbnail}}"></a>
                    <a href="#/posts/{{post.id}}">{{post.id}} : {{post.title}} ({{post.comments.length}})</a>
                </li>
            </ul>

        </div>
    </div>
