<!DOCTYPE html>
<html lang="en" ng-app="vivereamadridApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="http://www.vivereamadrid.it/wp-content/themes/rapidnews/style.css" />
    <link href="css/app.css" rel="stylesheet">

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/truncate.js"></script>
    <script src="js/services.js"></script>
    <script src="js/social.js"></script>
    <script src="js/angulike.js"></script>



</head>

<body role="document" class="ng-cloak">
<div id="fb-root"></div>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#inicio">
                <img class="pull-left" style="max-width:100px;margin-top: -7px;" alt="Vivere a Madrid" src="http://www.vivereamadrid.it/wp-content/img/VivereaMadridICO.png" />
                Vivere a madrid
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorie<span class="caret"></span></a>
                    <a href="#/follow" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        Seguimi</span>
                    </a>
                    <ul class="dropdown-menu" role="menu" ng-controller="CategoryCtrl">
                        <li ng-repeat="category in categories">
                            <a href="#/posts-by-category/{{category.id}}">{{category.title}}</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid theme-showcase" role="main">

    <div class="row spacer"></div>

    <div class="view-container">
        <h3 class="text-center">
            <div class="full-page-overlay" route-loader>
                <button class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-refresh spin"></span>
                    Caricando...
                </button>
            </div>
        </h3>
        <div ng-view class="view-frame ng-cloak" ></div>
    </div>

</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



</body>
</html>
